/* Hide cursor */
.hide-native-cursor, .hide-native-cursor body, .hide-native-cursor * {
  cursor: none !important;
}

.cat-cursor {
  position: fixed;
  bottom: -10px; 
  left: 0;
  width: 500px; 
  pointer-events: none;
  z-index: 9999;
}

.cat-cursor-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/pawrest.png') no-repeat center bottom;
  background-size: contain; 
  transition: transform 50ms linear, filter 80ms ease-in-out; 
}

/* Click/press state */
.cat-cursor-img.pressed {
  background-image: url('/images/pawclick.png');
  width: 500px;
  filter: brightness(0.98);
}

/* hotspot crosshair */
.cat-cursor-hotspot {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 50%;
  background: rgba(255,0,0,0.9);
  box-shadow: 0 0 0 2px rgba(255,255,255,0.9);
  pointer-events: none;
  z-index: 10000;
}