.login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
}

/* center the heading */
.login-wrapper h2 {
  text-align: center;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 80vh;
  padding-left: 15px;
}

.login-form label {
  font-size: 12px;
  color: #000;
}

.login-form input {
  display: block;
  width: 60vh;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  color: #000;
  background: #fff;
  box-sizing: border-box;
  z-index: 5;
}

.login-form input:disabled {
  background: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.7;
}

.login-form input::placeholder {
  color: #444;
}

.login-btn {
  background: #713704;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Press Start 2P", monospace;
  transition: 0.2s ease;
  width: 60vh;
}

.login-btn:hover:not(:disabled) {
  background: #a15a2e;
}

.login-btn:disabled {
  background: #999;
  cursor: not-allowed;
  opacity: 0.7;
}

.login-message {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #444;
}
